

<% provide :sidebar_active_item, 'about' %>
<% provide :page_title_text, '關於Emmo' %>
<% provide :page_title_icon, 'umbrella' %>


<div class="ui  column grid" style="display: block;">
  <div class="column">
    <div class="row">
      <div class="ui raised segment">
        <div class="ui purple ribbon label">Introduction</div>
        <p>這是一個簡易的記帳系統，除了普通的記帳功能，另外還提供了債務記錄功能，以及好友圈的互相幫忙記帳功能，功能持續改進與增加，謝謝支持呦</p>
        <div class="ui teal ribbon label">Cats</div>
        <p>Also pretty nice animals, but can prefer solitude.</p>
        <div class="ui red ribbon label">Author</div>
        <h2 class="ui medium header">
          <div class="ui circular rotate reveal small left image">
            <img class="visible content" src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
            <img class="hidden content" src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
          </div>
          <div class="content">
            Honda Dai
            <div class="sub header">I am a student.</div>
          </div>
        </h2>
        <h2 class="ui medium header">
          <div class="ui circular rotate reveal small left image">
            <img class="visible content" src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
            <img class="hidden content" src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
          </div>
          <div class="content">
            ChianYa Hong
            <div class="sub header">I am a student.</div>
          </div>
        </h2>
        
      </div>
    </div>
  </div>
</div>