

<% provide(:page_title, 'Login') %>

<div class="ui modal active" style="top: 15%">
    <div class="header">
      登入 Emmo
    </div>
    <div class="content emmo-pusheen-bg pure-g-r">
      <div class="pure-u-2-5">
        <img class="ui medium image" src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      </div>
      <div class="pure-u-3-5">
        <div class="ui header">開始記帳吧！</div>
        <% #form_for(:users, )%>

        <div class="ui form segment emmo-pusheen-dark-bg">
          <div class="field">
            <label>Username</label>
            <div class="ui left labeled icon input">
              <input type="text" placeholder="Username">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left labeled icon input">
              <input type="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui error message">
            <div class="header">We noticed some issues</div>
          </div>
          <div class="ui buttons">
            <div class="ui blue submit button">登入</div>
            <div class="or"></div>
            <a class="ui red submit button" href="/register">註冊</a>
          </div>

        </div>

      </div>
    </div>
    <div class="actions">
      <!--
      <div class="ui black button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Add Photo
        <i class="checkmark icon"></i>
      </div>
      -->
    </div>
  </div>
