

<% provide :sidebar_active_item, 'friends' %>
<% provide :page_title_text, '我的朋友' %>
<% provide :page_title_icon, 'star' %>

<div class="ui form">
  <div class="inline fields">
    <div class="field">
      <label>邀請好友</label>
      <!--<div class="ui action input">-->
        <input type="text" placeholder="Friend's e-mail...">
        <div class="ui icon button"><i class="add icon"></i></div>
      <!--</div>-->
    </div>
  </div>
</div>



<div class="ui four items">
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Cute Dog</div>
      <p class="description">
        <a class="ui red circular label">
          欠我
        </a> 800元</p>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Faithful Dog</div>
      <p class="description">
      <a class="ui green circular label">
          欠他
        </a> 80元</p>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Silly Dog</div>
      <p class="description">
        <a class="ui red circular label">
          欠我
        </a> 800元</p>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Happy Dog</div>
      <p class="description">
        <a class="ui red circular label">
          欠我
        </a> 800元</p>
    </div>
  </div>
</div>
<div class="ui four items">
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Cute Dog</div>
      <p class="description">
        <a class="ui red circular label">
          欠我
        </a> 800元</p>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Faithful Dog</div>
      <p class="description">
        <a class="ui red circular label">
          欠我
        </a> 800元</p>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Silly Dog</div>
      <p class="description">
        <a class="ui red circular label">
          欠我
        </a> 800元</p>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="http://25.media.tumblr.com/tumblr_m5mlt6a0EH1qhy6c9o1_400.gif">
      <a class="star ui corner label">
        <i class="close icon"></i>
      </a>
    </div>
    <div class="content">
      <div class="name">Happy Dog</div>
      <p class="description">
        <a class="ui red circular label">
          欠我
        </a> 800元</p>
    </div>
  </div>
</div>