
<% provide(:page_title, '') %>



<div class="ui modal active emmo-active-model" style="">
    <div class="header">
      加入 Emmo
    </div>
    <div class="content emmo-pusheen-bg pure-g-r">
      <div class="pure-u-1-1 pure-hidden-phone">
        <img class="ui medium image" src="http://media.catmoji.com/post/w7j/thank-you-for-following-me-pusheen-the-cat.gif">
      </div>
    </div>
    <div class="actions">
    </div>
  </div>
