
<% provide(:page_title, '') %>



<div class="ui modal active emmo-active-model" style="">
    <div class="header">
      加入 Emmo
    </div>
    <div class="content emmo-pusheen-bg pure-g-r">
      <div class="pure-u-2-5 pure-hidden-phone">
        <img class="ui medium image" src="http://25.media.tumblr.com/25f09ad6ca2fc491243edc9de9d8a5fd/tumblr_mr8g3qfpr91qhy6c9o1_500.gif">
      </div>
      <div class="pure-u-3-5">
      </div>
    </div>
    <div class="actions">
    </div>
  </div>
