
<% provide(:page_title, '') %>



<div class="ui modal active emmo-active-model" style="">
    <div class="header">
      註冊成功！ <%= @user.name %> 歡迎你！
    </div>
    <div class="content emmo-pusheen-bg pure-g-r">
      <div class="pure-u-1-1 ">
        <img class="ui huge image emmo-center" src="http://media.catmoji.com/post/w7j/thank-you-for-following-me-pusheen-the-cat.gif">
      </div>
    </div>
    <div class="actions">
      <a href="/" class="ui button blue">馬上開始使用</a>
    </div>
  </div>
