<% if @user.errors.any? then %>
  <div class="ui error message">
    <% #<i class="close icon"></i> %>
    <div class="header">
      <%= "發現了#{@user.errors.count}個錯誤！" %>
    </div>
    <ul class="list">
      <% @user.error_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>