

<% provide :sidebar_active_item, 'books' %>

<i class="heart circular icon link" data-content="Hello, I am a pop-up."></i>
<table class="ui padded table segment ">
  <thead>
    <tr>
      <th>時間</th>
      <th>事項</th>
      <th>金額</th>
      <th>記錄人</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2013-12-11 (三)</td>
      <td>No Name Specified</td>
      <td>Unknown</td>
      <td>None</td>
    </tr>
    <tr>
      <td>2013-12-11 (三)</td>
      <td>Jimmy</td>
      <td> Approved</td>
      <td>None</td>
    </tr>
    <tr>
      <td>2013-12-11 (三)</td>
      <td>Jamie</td>
      <td>Unknown</td>
      <td>Requires call</td>
    </tr>
    <tr>
      <td>2013-12-11 (三)</td>
      <td>Jill</td>
      <td>Unknown</td>
      <td>None</td>
    </tr>
  </tbody>
</table>