
//@import "semantic-ui";

$pusheen-bg-color: #fcf0e4;
$brown: #744315;
$light-brown: #B89B78;




/*.emmo-table td, .emmo-table th{
  padding: .8em .7em !important;
}*/

.emmo-right-icon {
  position: absolute;
  right: 0px;
  display: block;
  cursor: pointer;
  opacity: .5;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  -webkit-transition: -webkit-transform .1s linear;
  transition: transform .1s linear;

  &:hover {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}


.emmo-brushed-bg {
  background-image: image-url("brushed.png");
}

.emmo-header-segment {
  //@extend .emmo-brown-bg;


  color: $brown;
  padding-top: 70px !important;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

.emmo-container {
  max-width: 1000px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.emmo-active-model {
  //@extend .ui;
  //@extend .model;
  //@extend .active;

  position: inherit !important;
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10%;
  margin-bottom: 10%;
}

.emmo-pusheen-bg {
  background-color: $pusheen-bg-color !important;
}

.emmo-pusheen-dark-bg {
  background-color: shade($pusheen-bg-color, 5%) !important;
}

.emmo-light-brown-bg {
  background-color: $light-brown !important;
}

.emmo-brown-bg {
  background-color: $brown !important;
}

.emmo-center {
  margin: auto;
}

.emmo-main {
  min-height: 600px;
  padding-left: 20px;
}

.emmo-sidebar {
  margin-top: 50px;
}

.emmo-box {
  padding: 15px;
}

.emmo-float-right {
  float: right
}

.emmo-float-left {
  float: left
}

@media (max-width: 480px) {
  .emmo-container { 
    width: 95%;
  }
}


