
//@import "semantic-ui";

$pusheen-bg-color: #fcf0e4;


.emmo-header-segment {
  
  padding-top: 70px !important;
  margin-top: 0px !important;
}

.emmo-container {
  max-width: 1000px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.emmo-active-model {
  //@extend .ui;
  //@extend .model;
  //@extend .active;

  position: inherit !important;
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10%;
  margin-bottom: 10%;
}

.emmo-pusheen-bg {
  background-color: $pusheen-bg-color !important;
}

.emmo-pusheen-dark-bg {
  background-color: shade($pusheen-bg-color, 5%) !important;
}

.emmo-center {
  margin: auto;
}

@media (max-width: 480px) {
  .emmo-container { 
    width: 95%;
  }
}


