

.emmo-header-segment {
  @extend .ui;
  @extend .segment;

  padding-top: 70px !important;
  margin-top: 0px !important;
}

.emmo-container {
  
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}