

<script>
$(function(){
  var sidebar_active_item = '<%= yield :sidebar_active_item %>';
  $('#sidebar-'+sidebar_active_item).addClass('active');
});
</script>

<div class="emmo-box emmo-sidebar"> 
  <div class="ui secondary vertical pointing menu" style="width: 100%">
    <a id="sidebar-books" class="item purple" href="/books">
      <i class="book icon"></i> 帳本
    </a>
    <a id="sidebar-notices" class="item blue">
      <i class="legal icon"></i> 債本
    </a>
    <a id="sidebar-friends" class="item green" href="/friends">
      <i class="star icon"></i> 好友
    </a>
    <a id="sidebar-setting" class="item orange" href="/setting">
      <i class="wrench icon"></i> 設定
    </a>
    <a id="sidebar-about" class="item red" href="/about">
      <i class="umbrella icon"></i> 關於
    </a>
  </div>
</div>