<div class="ui fixed transparent inverted main menu">
  <div class="container">
    <a class="launch item"><i class="icon list layout"></i> Content</a>
    <div class="title item">
      <b>Semantic:</b> Introduction
    </div>
    
    <div class="disabled icon item"><i class="left arrow icon"></i></div>
    
    <div class="section ui dropdown link item">
      <span class="count">1 of 4</span>
      <div class="menu">
        
          <div class="active item">
            <a href="/index.html">1. Introduction</a>
          </div>
        
          <div class="item">
            <a href="/collection.html">2. UI Collections</a>
          </div>
        
          <div class="item">
            <a href="/element.html">3. UI Elements</a>
          </div>
        
          <div class="item">
            <a href="/module.html">4. UI Modules</a>
          </div>
        
      </div>
    </div>
    
    <a class="icon item" href="/collection.html"><i class="right arrow icon"></i></a>
    
    <div class="right menu">
      
      <div class="vertically fitted borderless item">
        <iframe src="http://ghbtns.com/github-btn.html?user=jlukic&amp;repo=semantic-ui&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
      </div>
      
      
      <a class="popup icon github item" title="View project on Github" href="https://github.com/quirkyinc/semantic">
        <i class="icon github"></i>
      </a>
    </div>
  </div>
</div>