<div class="ui fixed transparent inverted main menu">
  <div class="emmo-container">

    <a class="launch item"><i class="icon list layout"></i> Content</a>


    <div class="title item">
      <b>Emmo</b>
    </div>
    <!--
    <div class="disabled icon item"><i class="left arrow icon"></i></div>
    
    <div class="section ui dropdown link item">
      <span class="count">1 of 4</span>
      <div class="menu">
        
          <div class="active item">
            <a href="/index.html">1. Introduction</a>
          </div>
        
          <div class="item">
            <a href="/collection.html">2. UI Collections</a>
          </div>
        
          <div class="item">
            <a href="/element.html">3. UI Elements</a>
          </div>
        
          <div class="item">
            <a href="/module.html">4. UI Modules</a>
          </div>
        
      </div>
    </div>
    
    <a class="icon item" href="/collection.html"><i class="right arrow icon"></i></a>
    
    -->
    <div class="right menu">
      
      <a class="icon item" title="註冊新帳號" href="#">
        <i class="icon magic"></i>
        註冊
      </a>
    </div>
  </div>
</div>